<div
    id="area-chart"
    class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10"
>
    <div
        hx-get="./pages/charts/area-chart/simple.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/linear.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/step.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/stacked.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/stacked-expanded.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/icons.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/gradient.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/area-chart/axes.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div class="md:col-span-2 lg:col-span-3">
        <div
            hx-get="./pages/charts/area-chart/interactive.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>
    </div>
</div>
