<div
    id="bar-chart"
    class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10"
>
    <div
        hx-get="./pages/charts/bar-chart/simple.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/horizontal.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/multiple.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/label.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/custom-label.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/mixed.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/stacked-legend.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/active.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/bar-chart/negative.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div class="md:col-span-2 lg:col-span-3">
        <div
            hx-get="./pages/charts/bar-chart/interactive.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>
    </div>
</div>
