<div
  id="tooltip"
  class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10">
  <div
    hx-get="./pages/charts/tooltip/simple.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/linear-indicator.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/no-indicator.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/custom-label.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/label-formatter.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/no-label.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/formatter.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/icons.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/tooltip/advanced.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>
</div>
