<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
  <div class="hidden h-full flex-col md:flex">
    <div
      hx-get="./pages/examples/playground/navbar.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      data-orientation="horizontal"
      role="none"
      class="shrink-0 bg-border h-[1px] w-full"></div>

    <div
      dir="ltr"
      data-orientation="horizontal"
      class="flex-1">
      <div class="container h-full py-6">
        <div class="grid h-full items-stretch gap-6 md:grid-cols-[1fr_200px]">
          <div
            hx-get="./pages/examples/playground/settings.html"
            hx-trigger="load"
            hx-swap="outerHTML"></div>

          <div
            hx-get="./pages/examples/playground/prompt.html"
            hx-trigger="load"
            hx-swap="outerHTML"></div>
        </div>
      </div>
    </div>
  </div>
</div>
