<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
  <div
    class="flex w-full data-[panel-group-direction=vertical]:flex-col h-full max-h-[800px] items-stretch">
    <div
      hx-get="./pages/examples/mail/sidebar.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      hx-get="./pages/examples/mail/inbox.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      hx-get="./pages/examples/mail/reply.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>
  </div>
</div>
