<div class="my-8 w-full min-w-0">
  <div
    class="mb-4 flex items-center space-x-1 text-sm leading-none text-muted-foreground">
    <div class="truncate">Docs</div>

    <svg
      width="15"
      height="15"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="h-3.5 w-3.5">
      <path
        d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"></path>
    </svg>

    <div class="text-foreground">Alert Dialog Dialog</div>
  </div>

  <div class="space-y-2">
    <h1 class="scroll-m-20 text-3xl font-bold tracking-tight">Alert Dialog</h1>

    <p class="text-base text-muted-foreground">
      <span
        data-br=":r1k:"
        data-brr="1"
        style="
          display: inline-block;
          vertical-align: top;
          text-decoration: inherit;
          max-width: 334px;
        ">
        Displays a callout for user attention.
      </span>
    </p>
  </div>

  <div
    role="alertdialog"
    id="radix-:r42:"
    aria-describedby="radix-:r44:"
    aria-labelledby="radix-:r43:"
    data-state="open"
    class="fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-background p-6 shadow-lg duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg"
    tabindex="-1"
    style="pointer-events: auto">
    <div class="flex flex-col space-y-2 text-center sm:text-left">
      <h2
        id="radix-:r43:"
        class="text-lg font-semibold">
        Are you absolutely sure?
      </h2>

      <p
        id="radix-:r44:"
        class="text-sm text-muted-foreground">
        This action cannot be undone. This will permanently delete your account
        and remove your data from our servers.
      </p>
    </div>

    <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
      <button
        type="button"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 mt-2 sm:mt-0">
        Cancel
      </button>

      <button
        type="button"
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2">
        Continue
      </button>
    </div>
  </div>
</div>
