<main class="flex-1" id="page">
  <div class="container py-8">
    <section class="mx-auto flex max-w-3xl flex-col items-center gap-4 text-center">
      <h1 class="text-3xl font-bold leading-tight tracking-tight md:text-4xl">
        Components
      </h1>

      <p class="text-lg text-muted-foreground">
        Beautifully designed components built with Radix UI and Tailwind CSS.
      </p>
    </section>

    <div class="mt-12">
      <div
        class="mx-auto flex flex-col items-start gap-2 px-4 md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10">
        <aside
          class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block">
          <div class="relative overflow-hidden h-full py-6 pr-6 lg:py-8">
            <div
              class="h-full w-full rounded-lg border bg-background p-4 shadow-sm"
              style="overflow: hidden scroll">
              <div style="min-width: 100%; display: table">
                <div class="w-full">
                  <div class="pb-4">
                    <h4 class="mb-1 rounded-md px-2 py-1 text-sm font-semibold">
                      Components
                    </h4>

                    <div class="grid grid-flow-row auto-rows-max text-sm">
                      <a
                        class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline text-muted-foreground"
                        hx-target="#component"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-get="./pages/components/accordion.html">
                        Accordion
                      </a>

                      <a
                        class="group flex w-full items-center rounded-md border border-transparent px-2 py-1 hover:underline font-medium text-foreground"
                        hx-target="#component"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-get="./pages/components/alert.html">
                        Alert
                      </a>

                      <!-- More components would go here -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>

        <div class="w-full">
          <div id="component">
            <div
              hx-get="./pages/components/alert.html"
              hx-trigger="load"
              hx-swap="outerHTML">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>