<div class="my-8 w-full min-w-0">
  <div
    class="mb-4 flex items-center space-x-1 text-sm leading-none text-muted-foreground">
    <div class="truncate">Docs</div>

    <svg
      width="15"
      height="15"
      viewBox="0 0 15 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="h-3.5 w-3.5">
      <path
        d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"></path>
    </svg>

    <div class="text-foreground">Progress Bar</div>
  </div>

  <div class="space-y-2">
    <h1 class="scroll-m-20 text-3xl font-bold tracking-tight">Progress Bar</h1>

    <p class="text-base text-muted-foreground">
      <span
        data-br=":r1k:"
        data-brr="1"
        style="
          display: inline-block;
          vertical-align: top;
          text-decoration: inherit;
          max-width: 334px;
        ">
        Displays a callout for user attention.
      </span>
    </p>
  </div>

  <div
    class="preview flex min-h-[350px] w-full justify-center p-10 items-center">
    <div
      aria-valuemax="100"
      aria-valuemin="0"
      role="progressbar"
      data-state="indeterminate"
      data-max="100"
      class="relative h-2 overflow-hidden rounded-full bg-primary/20 w-[60%]">
      <div
        data-state="indeterminate"
        data-max="100"
        class="h-full w-full flex-1 bg-primary transition-all"
        style="transform: translateX(-34%)"></div>
    </div>
  </div>
</div>
