<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
    <div class="m-6">
        <div
            hx-get="./pages/examples/forms/introduction.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>
    </div>

    <div class="flex gap-10 m-10">
        <div
            hx-get="./pages/examples/forms/sidebar.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>

        <div id="forms-portal">
            <div
                hx-get="./pages/examples/forms/profile.html"
                hx-trigger="load"
                hx-swap="outerHTML"
            ></div>
        </div>
    </div>
</div>
