<aside class="-mx-4 lg:w-1/5">
    <nav class="flex space-x-2 lg:flex-col lg:space-x-0 lg:space-y-1">
        <a
            _="on click remove .bg-muted .text-primary from <a/> then add .text-muted-foreground to <a/>  then add .bg-muted .text-primary on me"
            class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-9 px-4 py-2 bg-muted hover:bg-muted justify-start"
            hx-get="./pages/examples/forms/profile.html"
            hx-trigger="click"
            hx-target="#forms-portal"
            hx-swap="innerHTML"
            >Profile</a
        ><a
            _="on click remove .bg-muted .text-primary from <a/> then add .text-muted-foreground to <a/>  then add .bg-muted .text-primary on me"
            class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-9 px-4 py-2 hover:bg-muted justify-start"
            hx-get="./pages/examples/forms/account.html"
            hx-trigger="click"
            hx-target="#forms-portal"
            hx-swap="innerHTML"
            >Account</a
        ><a
            _="on click remove .bg-muted .text-primary from <a/> then add .text-muted-foreground to <a/>  then add .bg-muted .text-primary on me"
            class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-9 px-4 py-2 hover:bg-muted justify-start"
            hx-get="./pages/examples/forms/appearance.html"
            hx-trigger="click"
            hx-target="#forms-portal"
            hx-swap="innerHTML"
            >Appearance</a
        ><a
            _="on click remove .bg-muted .text-primary from <a/> then add .text-muted-foreground to <a/>  then add .bg-muted .text-primary on me"
            class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-9 px-4 py-2 hover:bg-muted justify-start"
            hx-get="./pages/examples/forms/notifications.html"
            hx-trigger="click"
            hx-target="#forms-portal"
            hx-swap="innerHTML"
            >Notifications</a
        ><a
            _="on click remove .bg-muted .text-primary from <a/> then add .text-muted-foreground to <a/>  then add .bg-muted .text-primary on me"
            class="inline-flex items-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:text-accent-foreground h-9 px-4 py-2 hover:bg-muted justify-start"
            hx-get="./pages/examples/forms/display.html"
            hx-trigger="click"
            hx-target="#forms-portal"
            hx-swap="innerHTML"
            >Display</a
        >
    </nav>
</aside>
