<div
  id="radial-chart"
  class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10">
  <div
    hx-get="./pages/charts/radial-chart/simple.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/radial-chart/label.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/radial-chart/grid.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/radial-chart/text.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/radial-chart/shape.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div
    hx-get="./pages/charts/radial-chart/stacked.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>
</div>
