<div class="overflow-hidden rounded-lg border bg-background shadow">
  <div class="hidden flex-col md:flex">
    <div
      hx-get="./pages/examples/dashboard/navbar.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div class="flex-1 space-y-4 p-8 pt-6">
      <div
        hx-get="./pages/examples/dashboard/header.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>

      <div
        dir="ltr"
        data-orientation="horizontal"
        class="space-y-4">
        <div
          role="tablist"
          aria-orientation="horizontal"
          class="inline-flex h-9 items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground"
          tabindex="0"
          data-orientation="horizontal"
          style="outline: none">
          <button
            type="button"
            role="tab"
            aria-selected="true"
            aria-controls="radix-:r1am:-content-overview"
            data-state="active"
            id="radix-:r1am:-trigger-overview"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item>
            Overview
          </button>

          <button
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="radix-:r1am:-content-analytics"
            data-state="inactive"
            data-disabled
            disabled
            id="radix-:r1am:-trigger-analytics"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item>
            Analytics
          </button>

          <button
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="radix-:r1am:-content-reports"
            data-state="inactive"
            data-disabled
            disabled
            id="radix-:r1am:-trigger-reports"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item>
            Reports
          </button>

          <button
            type="button"
            role="tab"
            aria-selected="false"
            aria-controls="radix-:r1am:-content-notifications"
            data-state="inactive"
            data-disabled
            disabled
            id="radix-:r1am:-trigger-notifications"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow"
            tabindex="-1"
            data-orientation="horizontal"
            data-radix-collection-item>
            Notifications
          </button>
        </div>

        <div
          data-state="active"
          data-orientation="horizontal"
          role="tabpanel"
          aria-labelledby="radix-:r1am:-trigger-overview"
          id="radix-:r1am:-content-overview"
          tabindex="0"
          class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 space-y-4"
          style="animation-duration: 0s">
          <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
            <div
              hx-get="./pages/examples/dashboard/total-revenue.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>

            <div
              hx-get="./pages/examples/dashboard/subscriptions.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>

            <div
              hx-get="./pages/examples/dashboard/sales.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>

            <div
              hx-get="./pages/examples/dashboard/active-now.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>
          </div>

          <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-7">
            <div
              hx-get="./pages/examples/dashboard/overview.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>

            <div
              hx-get="./pages/examples/dashboard/recent-sales.html"
              hx-trigger="load"
              hx-swap="outerHTML"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
