<main
  class="flex-1"
  id="page">
  <div class="container relative">
    <section
      class="mx-auto flex flex-col items-start gap-2 px-4 py-8 md:py-12 md:pb-8 lg:py-12 lg:pb-10">
      <h1
        class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl lg:leading-[1.1]">
        Building icons for the Web
      </h1>

      <p class="max-w-2xl text-lg font-light text-foreground">
        Beautifully designed. Copy and paste into your apps. Open Source.
      </p>
    </section>

    <section class="m-6 grid grid-cols-12 gap-8">
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-add-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-add-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-add.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-airplane.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-alarm.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-albums.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-alert.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-american-football.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-analytics.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-aperture.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-apps.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-appstore.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-archive.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-back.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-down.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropdown-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropdown.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropleft-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropleft.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropright-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropright.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropup-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-dropup.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-forward.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-round-back.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-round-down.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-round-forward.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-round-up.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-arrow-up.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-at.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-attach.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-backspace.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-barcode.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-baseball.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-basket.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-basketball.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-battery-charging.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-battery-dead.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-battery-full.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-beaker.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bed.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-beer.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bicycle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bluetooth.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-boat.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-body.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bonfire.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-book.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bookmark.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bookmarks.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bowtie.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-briefcase.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-browsers.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-brush.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bug.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-build.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bulb.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-bus.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-business.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cafe.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-calculator.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-calendar.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-call.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-camera.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-car.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-card.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cart.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cash.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cellular.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-chatboxes.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-chatbubbles.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-checkbox-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-checkbox.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-checkmark-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-checkmark-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-checkmark.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-clipboard.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-clock.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-close-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-close-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-close.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud-done.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud-download.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud-upload.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloud.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloudy-night.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cloudy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-code-download.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-code-working.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-code.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cog.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-color-fill.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-color-filter.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-color-palette.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-color-wand.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-compass.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-construct.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-contact.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-contacts.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-contract.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-contrast.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-copy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-create.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-crop.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cube.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-cut.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-desktop.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-disc.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-document.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-done-all.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-download.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-easel.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-egg.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-exit.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-expand.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-eye-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-eye.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-fastforward.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-female.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-filing.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-film.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-finger-print.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-fitness.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flag.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flame.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flash-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flash.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flashlight.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flask.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-flower.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-folder-open.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-folder.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-football.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-funnel.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-gift.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-branch.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-commit.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-compare.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-merge.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-network.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-git-pull-request.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-glasses.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-globe.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-grid.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-hammer.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-hand.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-happy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-headset.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-heart.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-heart-dislike.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-heart-empty.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-heart-half.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-help-buoy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-help-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-help-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-help.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-home.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-hourglass.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-ice-cream.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-image.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-images.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-infinite.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-information-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-information-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-information.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-jet.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-journal.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-key.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-keypad.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-laptop.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-leaf.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-link.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-list-box.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-list.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-locate.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-lock.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-log-in.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-log-out.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-magnet.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-mail-open.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-mail-unread.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-mail.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-male.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-man.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-map.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-medal.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-medical.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-medkit.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-megaphone.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-menu.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-mic-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-mic.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-microphone.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-moon.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-more.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-move.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-musical-note.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-musical-notes.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-navigate.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-notifications-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-notifications-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-notifications.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-nuclear.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-nutrition.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-open.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-options.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-outlet.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-paper-plane.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-paper.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-partly-sunny.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pause.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-paw.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-people.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-person-add.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-person.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-phone-landscape.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-phone-portrait.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-photos.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pie.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pin.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pint.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pizza.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-planet.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-play-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-play.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-podium.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-power.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pricetag.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pricetags.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-print.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-pulse.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-qr-scanner.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-quote.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-radio-button-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-radio-button-on.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-radio.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-rainy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-recording.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-redo.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-refresh-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-refresh.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-remove-circle-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-remove-circle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-remove.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-reorder.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-repeat.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-resize.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-restaurant.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-return-left.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-return-right.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-reverse-camera.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-rewind.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-ribbon.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-rocket.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-rose.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-sad.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-save.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-school.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-search.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-send.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-settings.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-share-alt.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-share.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-shirt.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-shuffle.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-skip-backward.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-skip-forward.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-snow.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-speedometer.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-square-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-square.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-star-half.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-star-outline.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-star.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-stats.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-stopwatch.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-subway.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-sunny.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-swap.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-switch.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-sync.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-tablet-landscape.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-tablet-portrait.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-tennisball.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-text.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-thermometer.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-thumbs-down.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-thumbs-up.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-thunderstorm.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-time.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-timer.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-today.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-train.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-transgender.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-trash.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-trending-down.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-trending-up.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-trophy.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-tv.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-umbrella.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-undo.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-unlock.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-videocam.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-volume-high.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-volume-low.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-volume-mute.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-volume-off.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-wallet.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-walk.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-warning.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-watch.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-water.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-wifi.svg"></div>
      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-wine.svg"></div>

      <div
        class="w-6 h-6"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-get="./assets/icons/md-woman.svg"></div>
    </section>
  </div>
</main>
