<div
    id="radar-chart"
    class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10"
>
    <div
        hx-get="./pages/charts/radar-chart/simple.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/dots.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/multiple.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/lines.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/custom-label.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/radius-axis.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-custom.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-filled.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-none.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-circle.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-circle-no-lines.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-circle-filled.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-legend.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div
        hx-get="./pages/charts/radar-chart/grid-icons.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div class="md:col-span-2 lg:col-span-3">
        <div
            hx-get="./pages/charts/radar-chart/interactive.html"
            hx-trigger="load"
            hx-swap="outerHTML"
        ></div>
    </div>
</div>
