<div
    id="line-chart"
    class="grid flex-1 scroll-mt-20 items-start gap-10 md:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:gap-10">
    <div
        hx-get="./pages/charts/line-chart/simple.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/linear.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/step.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/multiple.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/dots.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/custom-dots.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/dots-colors.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/label.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div
        hx-get="./pages/charts/line-chart/custom-label.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    <div class="md:col-span-2 lg:col-span-3">
        <div
            hx-get="./pages/charts/line-chart/interactive.html"
            hx-trigger="load"
            hx-swap="outerHTML"></div>
    </div>
</div>
