<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
  <div
    class="hidden items-start justify-center gap-6 rounded-lg p-8 md:grid lg:grid-cols-2 xl:grid-cols-3">
    <div class="col-span-2 grid items-start gap-6 lg:col-span-1">
      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/signup.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/payment-method.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>
    </div>

    <div class="col-span-2 grid items-start gap-6 lg:col-span-1">
      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/team-members.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/share-this-document.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/date.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/notifications.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>
    </div>

    <div
      class="col-span-2 grid items-start gap-6 lg:col-span-2 lg:grid-cols-2 xl:col-span-1 xl:grid-cols-1">
      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/report-an-issue.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/gallium.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>

      <div class="flex items-center justify-center w-full">
        <div
          hx-get="./pages/examples/cards/cookie-settings.html"
          hx-trigger="load"
          hx-swap="outerHTML"></div>
      </div>
    </div>
  </div>
</div>
