<main class="flex-1" id="page">
    <div class="container relative">
        <section class="mx-auto flex flex-col items-start gap-2 px-4 py-8 md:py-12 md:pb-8 lg:py-12 lg:pb-10">
            <h1 class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl lg:leading-[1.1] hidden md:block">
                Check out some examples
            </h1>
            <p class="max-w-2xl text-lg font-light text-foreground">
                Dashboard, cards, authentication. Some examples built using the
                components. Use this as a guide to build your own.
            </p>
            <div class="flex w-full items-center justify-start gap-2 py-2">
                <a class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-8 rounded-md px-3 text-xs"
                    href="/docs">Get Started</a><a
                    class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs"
                    href="/components">Components</a>
            </div>
        </section>
        <section class="relative">
            <div dir="ltr" class="relative max-w-[600px] lg:max-w-none" style="
          position: relative;
          --radix-scroll-area-corner-width: 0px;
          --radix-scroll-area-corner-height: 0px;
        ">
                <div class="h-full w-full rounded-[inherit]" style="overflow-x: hidden">
                    <div style="min-width: 100%; display: table">
                        <div class="mb-4 flex items-center">
                            <a class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary bg-muted font-medium text-primary"
                            hx-get="./pages/examples/mail.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Mail</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/dashboard.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Dashboard</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/cards.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Cards</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hhx-get="./pages/examples/tasks.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Tasks</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/playground.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Playground</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/forms.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Forms</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/music.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Music</a><a
                                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground"
                                hx-get="./pages/examples/authentication.html" hx-trigger="click" hx-target="#examples" hx-swap="innerHTML">Authentication</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="examples">
          <div hx-get="./pages/examples/mail.html" hx-trigger="load" hx-swap="outerHTML"></div>
        </section>
    </div>
</main>