<section class="relative">
    <div class="relative max-w-[600px] lg:max-w-none">
        <div class="h-full w-full rounded-[inherit]" style="overflow-x: hidden">
            <div style="min-width: 100%; display: table">
                <div class="mb-4 flex items-center">
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary bg-muted font-medium cursor-pointer nav-example"
                        hx-get="./pages/examples/mail/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Mail</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/dashboard/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Dashboard</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/cards/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Cards</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/tasks/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Tasks</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/playground/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Playground</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/forms/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Forms</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/music/index.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Music</a
                    >
                    <a
                        _="on click remove .bg-muted .text-primary from .nav-example then add .text-muted-foreground to .nav-example  then add .bg-muted .text-primary on me"
                        class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-example"
                        hx-get="./pages/examples/authentication/authentication.html"
                        hx-trigger="click"
                        hx-target="#examples"
                        hx-swap="innerHTML"
                        >Authentication</a
                    >
                </div>
            </div>
        </div>
    </div>
</section>
<section id="examples">
    <div
        hx-get="./pages/examples/mail/index.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
</section>
