<section id="examples">
    <div class="relative flex min-h-screen flex-col bg-background">
        <div class="themes-wrapper bg-background min-h-screen py-12">
            <div
                class="chart-wrapper mx-auto flex max-w-6xl flex-col flex-wrap items-start justify-center gap-6 p-6 sm:flex-row sm:p-8"
            >
                <div
                    class="grid w-full gap-6 sm:grid-cols-2 lg:max-w-[22rem] lg:grid-cols-1 xl:max-w-[25rem]"
                >
                    <div
                        hx-get="./pages/blocks/charts/today.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>

                    <div
                        hx-get="./pages/blocks/charts/resting.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>
                </div>
                <div class="grid w-full flex-1 gap-6 lg:max-w-[20rem]">
                    <div
                        hx-get="./pages/blocks/charts/progress.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>

                    <div
                        hx-get="./pages/blocks/charts/walking-distance.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>

                    <div
                        hx-get="./pages/blocks/charts/bar.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>
                </div>
                <div class="grid w-full flex-1 gap-6">
                    <div
                        hx-get="./pages/blocks/charts/radial.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>

                    <div
                        hx-get="./pages/blocks/charts/active-energy.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>

                    <div
                        hx-get="./pages/blocks/charts/time-in-bed.html"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</section>
