<div class="overflow-hidden rounded-lg border bg-background shadow">
  <div
    hx-get="./pages/examples/tasks/header.html"
    hx-trigger="load"
    hx-swap="outerHTML"></div>

  <div class="flex-col space-y-4 m-8">
    <div
      hx-get="./pages/examples/tasks/filter.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      hx-get="./pages/examples/tasks/table.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      hx-get="./pages/examples/tasks/pagination.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>
  </div>
</div>
