<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
    <div
        hx-get="./pages/examples/music/navbar.html"
        hx-trigger="load"
        hx-swap="outerHTML"
    ></div>
    <div class="border-t">
        <div class="bg-background">
            <div class="grid lg:grid-cols-5">
                <div
                    hx-get="./pages/examples/music/sidebar.html"
                    hx-trigger="load"
                    hx-swap="outerHTML"
                ></div>
                <div class="col-span-3 lg:col-span-4 lg:border-l">
                    <div class="h-full px-4 py-6 lg:px-8">
                        <div
                            dir="ltr"
                            data-orientation="horizontal"
                            class="h-full space-y-6"
                        >
                            <div
                                data-state="active"
                                data-orientation="horizontal"
                                role="tabpanel"
                                aria-labelledby="radix-:r1f7:-trigger-music"
                                id="radix-:r1f7:-content-music"
                                tabindex="0"
                                class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 border-none p-0 outline-none"
                                style="animation-duration: 0s"
                            >
                                <div
                                    hx-get="./pages/examples/music/header.html"
                                    hx-trigger="load"
                                    hx-swap="outerHTML"
                                ></div>
                                <div
                                    hx-get="./pages/examples/music/listen-now.html"
                                    hx-trigger="load"
                                    hx-swap="outerHTML"
                                ></div>
                                <div
                                    hx-get="./pages/examples/music/made-for-you.html"
                                    hx-trigger="load"
                                    hx-swap="outerHTML"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
