<main
  class="flex-1"
  id="page">
  <div class="container relative">
    <section
      class="mx-auto flex flex-col items-start gap-2 px-4 py-8 md:py-12 md:pb-8 lg:py-12 lg:pb-10">
      <h1
        class="text-3xl font-bold leading-tight tracking-tighter md:text-4xl lg:leading-[1.1]">
        Building Blocks for the Web
      </h1>

      <p class="max-w-2xl text-lg font-light text-foreground">
        Beautifully designed. Copy and paste into your apps. Open Source.
      </p>
    </section>

    <section class="relative">
      <div
        dir="ltr"
        class="relative max-w-[600px] lg:max-w-none">
        <div
          class="h-full w-full rounded-[inherit]"
          style="overflow-x: hidden">
          <div style="min-width: 100%; display: table">
            <div class="mb-4 flex items-center">
              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary bg-muted font-medium text-primary cursor-pointer nav-blocks"
                hx-get="./pages/blocks/charts/index.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Charts
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/recent-orders.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Recent Orders
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/all-products.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                All Products
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/edit-product.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Edit Product
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/settings/index.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Settings
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/playground.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Playground
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/inventory.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Inventory
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/dashboard.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Dashboard
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/loginmini.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Login Mini
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/login.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Login
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/signup.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Sign Up
              </a>

              <a
                _="on click remove .bg-muted .text-primary from .nav-blocks then add .text-muted-foreground to .nav-blocks  then add .bg-muted .text-primary on me"
                class="flex h-7 items-center justify-center rounded-full px-4 text-center text-sm transition-colors hover:text-primary text-muted-foreground cursor-pointer nav-blocks"
                hx-get="./pages/blocks/auth.html"
                hx-trigger="click"
                hx-target="#blocks"
                hx-swap="innerHTML">
                Auth
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="blocks"
      class="m-6">
      <div
        hx-get="./pages/blocks/charts/index.html"
        hx-trigger="load"
        hx-swap="outerHTML"></div>
    </section>
  </div>
</main>
