<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Gallium UI</title>
    <script src="./assets/js/hyperscript.js"></script>
    <script src="./assets/js/htmx.js"></script>
    <link rel="stylesheet" href="./assets/css/scroll.css">
    <link rel="stylesheet" href="./assets/css/tailwindcss.css">
</head>

<body class="min-h-screen bg-background font-sans">
    <div class="relative flex min-h-screen flex-col bg-background">
        <div hx-get="./partials/navbar.html" hx-trigger="load" hx-swap="outerHTML"></div>
        <div hx-get="./pages/examples/index.html" hx-trigger="load" hx-swap="outerHTML"></div>
        <div hx-get="./partials/footer.html" hx-trigger="load" hx-swap="outerHTML"></div>
    </div>
</body>

</html>