<div class="overflow-hidden rounded-[0.5rem] border bg-background shadow">
  <div
    class="container relative hidden h-[800px] flex-col items-center justify-center md:grid lg:max-w-none lg:grid-cols-2 lg:px-0">
    <a
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 absolute right-4 top-4 md:right-8 md:top-8"
      href="/examples/authentication">
      Login
    </a>

    <div
      hx-get="./pages/examples/authentication/cover.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>

    <div
      hx-get="./pages/examples/authentication/form.html"
      hx-trigger="load"
      hx-swap="outerHTML"></div>
  </div>
</div>
